dotenv
pandas
openai
tiktoken
pytesseract
beautifulsoup4
markdownify
PyMuPDF==1.26.3
frontend
opencv-python
dask
pyarrow
scikit-learn
python-telegram-bot
streamlit
numpy
cryptography
openpyxl
pyautogui
pynput
keyboard
soundcard
yt-dlp
zmq
#EIGENLIB
fpdf
pygame
torchaudio
transformers
cryptography
azure-identity
sounddevice
soundfile
notion_client
psutil
pyfiglet